
<div class="shadow-md w-full h-[80px] flex flex-row items-center justify-start px-12 hidden md:flex z-10">
	<img src="{logoDark}" class="h-[50px]" />
	
	<div class="w-full h-full flex flex-row items-center justify-end gap-4">
		<? toggle trigger=toggleBtn('toggle',toggleDark) ?>
		<div class="h-full px-4 flex items-center justify-center flex-wrap hover:bg-[#d9d9d9] cursor-pointer" onclick="navPage(0)">
			Home
		</div>
		<div class="h-full px-4 flex items-center justify-center flex-wrap hover:bg-[#d9d9d9] cursor-pointer" onclick="navPage(1)">
			About us
		</div>
	</div>
</div>
